In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()

In [6]:
df['fst'] = [1,2,3,4,5,6,7,8,9,0]
df['scd'] = [0,3,8,3,3,3,4,3,2,1]

In [7]:
df

   fst  scd
0    1    0
1    2    3
2    3    8
3    4    3
4    5    3
5    6    3
6    7    4
7    8    3
8    9    2
9    0    1

In [20]:
df.groupby(by='scd')[['fst']].agg([('STD',np.std), ('MAX',np.max)])

          fst
          STD MAX
scd
0         NaN   1
1         NaN   0
2         NaN   9
3    2.236068   8
4         NaN   7
8         NaN   3