In [1]:
import pandas as pd
import numpy as np
from pprint import pprint

In [5]:
cols = ['title', 'type', 'description']

movie_with_description = pd.read_csv('nMovieRg.csv', usecols=cols)
tvshow_with_description = pd.read_csv('nTvshowRg.csv', usecols=cols)

In [10]:
df_with_genres = pd.read_csv('genreRg.csv')

In [19]:
df_with_genres.shape

(5649, 3)

In [8]:
dataset_ttl_tp_dscp = movie_with_description.append(tvshow_with_description, ignore_index=True)

In [12]:
dataset_ttl_tp_dscp.shape

(5649, 3)

In [20]:
df_all = dataset_ttl_tp_dscp.merge(df_with_genres, on='title').drop('Unnamed: 0', axis=1)

In [23]:
df_all.to_csv('all.csv')

In [24]:
df_all.drop_duplicates(inplace=True)

,title,type,description,genres
0,Inception,movie,"Cobb, a skilled thief who commits corporate es...","action-and-adventure,mystery,science-fiction,t..."
1,Back to the Future,movie,Eighties teenager Marty McFly is accidentally ...,"comedy,fantasy,science-fiction,action-and-adve..."
2,The Matrix,movie,"Set in the 22nd century, The Matrix tells the ...","action-and-adventure,science-fiction"
3,"The Good, the Bad and the Ugly",movie,While the Civil War rages between the Union an...,NaN
4,Avengers: Infinity War,movie,As the Avengers and their allies have continue...,"action-and-adventure,fantasy,science-fiction"
...,...,...,...,...
5764,Bal Ganesh,tvshow,Bal Ganesh has one or more episodes streaming ...,animation
5765,The Ultimatum,tvshow,The Ultimatum has one or more episodes streami...,drama
5766,Titipo Titipo,tvshow,Titipo Titipo has one or more episodes streami...,NaN
5767,The Underwear,tvshow,The Underwear has one or more episodes streami...,NaN
5768,Truth,tvshow,Truth has one or more episodes streaming with ...,NaN

In [32]:
orgtv = pd.read_csv('tvshow_titles.csv', usecols=['titles'])
orgmv = pd.read_csv('movie_title.csv', usecols=['movie_title'])

In [40]:
orgmv = orgmv.rename(columns={'movie_title':'titles'})

In [43]:
all_org = orgmv.append(orgtv, ignore_index=True)

In [55]:
orgLabel = []
for t in df_all.title.str.lower().tolist():
    if t not in all_org.titles.str.lower().tolist():
        orgLabel.append(0)
    else:
        orgLabel.append(1)

In [56]:
len(orgLabel)

5769

In [58]:
df_all['originals'] = orgLabel

In [63]:
df_all.to_csv('df_with_5cols.csv')